.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-img {
  align-content: center;
  margin: 0 auto;
  width: 40%;
}

.footer-contato li a {
  color: #fff;
}

.footer-copy {
  margin: 0 auto;
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0px;
  }

  .footer-img {
    width: 20%;
  }

  .footer-contato li {
    font-size: 1.5rem;
    text-align: center;
  }
}
